{% extends 'index.html' %}
{% load static %}
{% block title %}About | Golden Eagle Design{% endblock %}
{% block content %}
<section class="container-fulid">
    <img class="img-fulid" src="{% static 'img/about-us-pcb-goldeneagledesign.jpg' %}" alt="image of pcb unit">
</section>
<section class="container-fulid">
    <div class="row">
        <div class="col-xs-3 col-sm-6">
            <h1>Who We Are?</h1>
            <p>Our company is base in Denbigh, North Wales, cwyld, uk.</p>
            <p>Where we work hard with our clients to produce the best online solution
                for there company and industry.</p>
            <p>All our programmers are educated by the means of BSC(Hons)/Dimpolma/MSC degree's.
                In sure you have the best skilled developers in the industry.</p>
                <p>We also encourage our developers to pruse personal projects such as Electrionics, Building websites and taking on contract work.
                    This allows for futher self development , better skilled developers and more experinced workers.
                </p>
            <p>we pride ourselfs in learning new technoloigies.</p>

        </div>
        <div class="col-xs-3 col-sm-6">
            <img class="img-fulid mx-auto d-block" src="{% static 'img/goldeneagledesign-logo 300x300.png' %}" alt="logo of goldeneagledesign.co.uk">
        </div>
    </div>
</section>
<section class="container-fulid">
    <h2>Our Favourite Languages/Frameworks</h2>
    <div class="row">
        <div class="col-xs-3 col-sm-3">
            <h4>Python</h4>
            <p>Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.
                Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development</p>
        </div>
        <div class="col-xs-3 col-sm-3">
            <h4>Javascript</h4>
            <p>Javascript is a dynamic computer programming language. 
                It is lightweight and most commonly used as a part of web pages</p>
        </div>
        <div class="col-xs-3 col-sm-3">
            <h4>Django</h4>
            <p>Because Django was developed in a fast-paced newsroom environment, it was designed to make common Web-development tasks fast and easy. 
                Here’s an informal overview of how to write a database-driven Web app with Django.</p>
        </div>
        <div class="col-xs-3 col-sm-3">
            <h4>Bootstrap</h4>
            <p>Bootstrap is a powerful front-end framework for faster and easier web development. 
            It includes HTML and CSS based design templates for common user interface components like Typography, Forms, Buttons, Tables, Navigations, Dropdowns, Alerts, Modals, Tabs, Accordion, Carousel and many other as well as optional JavaScript extensions.</p>
        </div>                  
    </div>
</section>
<section class="container-fulid">
    <h2>Get In Touch Today</h2>
</section>
{% endblock %}