{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}Contact | Golden Eagle Design{% endblock %}
{% block content %}
<section class="container-fulid">
    <img class="img-fulid" src="{% static 'img/contact-goldeneagledesign.jpg' %}" alt="image of contact us">
</section>
<section class="container-fulid">
    <h1>Contact Us Today</h1>
        <div class="row">
            <div class="col-xs-6 col-sm-12">
                form
            </div>
        </div>
    </section>
{% endblock %}