{% extends 'index.html' %}
{% load static %}
{% block title %}Services | Golden Eagle Design{% endblock %}
{% block content %}
<section class="container-fluid">
        <img class="img-fluid" src="{% static 'img/services-goldeneagledesign.jpg' %}" alt="image of services">
    </section>
<section class="container-fluid">
        <div class="row">
                <div class="col-xs-3 col-sm-6">
                    <h1>What is Provide For You</h1>
                </div>
                <div class="col-xs-3 col-sm-6">
                        <img class="img-fluid" src="{% static '#' %}" alt="#">
                    </div>
            </div>
</section>
<section class="container-fluid">
    <h2 class="uppercase">Pricing</h2>
    <div class="row">
      <div class="col-xs-3 col-sm-3">
              <h4>Landing Page</h4>
                  <h4>From:£109</h4>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">1 landing/web page</li>
                  <li class="list-group-item">Company email address</li>
                  <li class="list-group-item">Custom built website to your specifacations</li>
                  <li class="list-group-item">Hosting</li>
                  <li class="list-group-item">SSL Certificate</li>
                  <li class="list-group-item">1 yr Domain Registration</li>
                  <li class="list-group-item">Social networks for you website</li>
              </ul>
              <button type="button" class="mx-auto d-block">See Full Details</button>
      </div>
      <div class="col-xs-3 col-sm-3">
              <h4>Professional</h4>
              <h4>From:£299</h4>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">5 web pages</li>
                  <li class="list-group-item">Company email address</li>
                  <li class="list-group-item">Custom built website to your specifacations</li>
                  <li class="list-group-item">Hosting</li>
                  <li class="list-group-item">SSL Certificate</li>
                  <li class="list-group-item">1 yr Domain Registration</li>
                  <li class="list-group-item">Social networks for you website</li>
              </ul>
              <button type="button" class="mx-auto d-block">See Full Details</button>
      </div>
      <div class="col-xs-3 col-sm-3">
              <h4>Small Ecommerce Business</h4>
              <h4>From:£450</h4>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">9 web pages</li>
                  <li class="list-group-item">Company email address</li>
                  <li class="list-group-item">Custom built website to your specifacations</li>
                  <li class="list-group-item">Hosting</li>
                  <li class="list-group-item">SSL Certificate</li>
                  <li class="list-group-item">1 yr Domain Registration</li>
                  <li class="list-group-item">Social networks for you website</li>
              </ul>
              <button type="button" class="mx-auto d-block">See Full Details</button>
      </div>
      <div class="col-xs-3 col-sm-3">
             <h4>Large Ecommerce Business</h4>
              <h4>From:£850</h4>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">15 web pages</li>
                  <li class="list-group-item">Company email address</li>
                  <li class="list-group-item">Custom built website to your specifacations</li>
                  <li class="list-group-item">Hosting</li>
                  <li class="list-group-item">SSL Certificate</li>
                  <li class="list-group-item">1 yrDomain Registration</li>
                  <li class="list-group-item">Social networks for you website</li>
              </ul>
              <button type="button" class="mx-auto d-block">See Full Details</button>
      </div>
    </div>
</section>
<section class="container-fluid">
        <h2>Contact Us Today</h2>
</section>
{% endblock %}